.contact .nav{
	width: 50%;
}
.contact .nav.selected{
	margin-left: -6px;
	border: 0;
}
.box{
	width: 1300px;
	margin: 0 auto;
	padding: 50px 0;
	font-size: 18px;
}
.box .title{
	margin-bottom: 30px;
	padding-bottom: 25px;
	border-bottom: 1px solid #000;
}
.list li{
	margin-top: 20px;
	padding: 20px 30px;
	background-color: #f6f6f6;
}
.list .time{
	padding-left: 75px;
	color: #999999;
	font-size: 14px;
}
.list .content{
	font-size: 16px;
	line-height: 26px;
	margin: 15px 0 10px;
}
.list .reply{
	font-size: 16px;
	color: #db0707;
}