.jiameng_liuchen {
    background-color: #f7f7f7;
    text-align: center;
    padding: 50px 0 70px
}

.jiameng_liuchen>div {
    display: inline-block;
}

.jiameng_liuchen h2 {
    font-weight: normal;
    border-bottom: 1px solid #7b7878;
    padding: 30px 0;
    margin-bottom: 60px;
}

.jiameng_liuchen ul {
    width: 1200px;
}

.jiameng_liuchen .item {
    display: inline-block;
    width: 140px;
    height: 140px;
    color: #7b7878;
    border-radius: 50%;
    border: 2px solid #cac5c5;
    padding: 30px 15px;
    line-height: 40px;
    overflow: hidden;
}

.jiameng_liuchen .item+.item {
    margin-left: 60px;
}